@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import "./reset.css";
@import "./variable.css";
@import "./nevigation-bar.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import "./media-query.css";
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto' , sans-serif;
    background-color: var(--background-purple);
    color: white;
}

input {
    border: none;
    outline: none;
    appearance: none;
}

.display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.position-relative {
    position: relative;
}

